@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --bs-body-bg: #161513;
  --bs-body-color: white;
  background-color: #161513;
  color: white;
  font-size: 16px;
  font-family: "inter" "Courier New", Courier, monospace;
}
.navbar {
  height: 50px;
}
.navbar a {
  color: white;
}
.link {
  color: inherit;
  text-underline-offset: 5px;
}

.hero {
  height: calc(100vh - 50px);
}

.hero-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-intro .title {
  font-size: 36px;
  text-align: center;
}
.hero-intro p {
  text-align: center;
  width: 40%;
  margin: 30px 0;
  font-size: 16px;
}

.gradient {
  background: -webkit-linear-gradient(left, #b16de7, #f5795b);
  background: linear-gradient(to right, #b16de7, #f5795b); /* Standard syntax */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 30px 0;
}

a.social-link {
  color: whitesmoke;
  font-size: 20px;
  height: 50px;
  margin: 0 15px;
  transition: transform 300ms ease-out;
}
a.social-link svg {
  height: 30px;
  margin-bottom: 20px;
}
a.social-link:hover {
  transform: scale(1.5);
}

a.social-link:last-child {
  margin-right: 0;
}

#skills {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
}

.btn-resume {
  border-color: white;
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid;
  text-decoration: none;
  color: white;
  margin-top: 35px;
  font-size: 20px;
  padding: 10px 15px;
  transition: transform 300ms ease-out;
}

.btn-resume:hover {
  transform: scale(1.2);
}

.skills > h3 {
  font-size: 36px;
  text-underline-offset: 10px;
  margin-bottom: 30px;
}

img.skill-img {
  width: 100px;
  height: auto;
  align-self: center;
  margin: 20px 0;
}

.border-skills {
  border: 1px solid white;
  border-radius: 30px;
  margin: 20px;
  padding: 20px 0;
}

.btn-resume-container {
  margin-top: 20px;
}

@media (max-width: 700px) {
  .hero {
    padding: 0 5%;
  }
  .hero-intro p {
    width: 100%;
    margin: 15px 0 !important;
  }
  .hero,
  .navbar {
    margin: 0 !important;
  }
  .hero-img {
    margin-top: 0;
  }
  .hero .title {
    font-size: 20px;
  }
  .hero-intro p {
    font-size: 14px;
  }
  .skills > h3 {
    font-size: 26px;
    margin-bottom: 0px;
  }
  .gradient {
    font-size: inherit;
  }

  .btn-resume-container {
    margin-bottom: 30px;
  }

  img.skill-img {
    width: 60px;
    height: auto;
    align-self: center;
    margin: 20px 0;
  }
}
